<style>
* {
  box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:800px;
}

@media screen and (min-width: 576px) {
  h1.pageheader {
    font-size: 3.5vw;
	color: darkblue;
  }
}

@media screen and (max-width: 577px) {
  h1.pageheader {
    font-size: 8vw;
	color: darkblue;
  }
}


</style>
